* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(#7e879e, #80c6e3);
}

/***********Inicio topo do painel***********/

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 20%;
    height: auto;
    display: block;
    margin: 40px auto;
}

/***********Fim topo do painel***********/


/***********Inicio corpo do painel***********/

#search { /*Pesquisa*/
    width: 60%;
    display: block;
    margin: 120px auto;
    padding: 25px 30px;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    background-color: #acb4c0;
    font-size: 25px;
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35px 35px;
    padding-right: 35px;
    background-origin: content-box;
}

#search::placeholder { /*Pesquisa*/
    color: #ebebeb;
    font-size: 25px;
    font-weight: normal;
}

.categories { /*Categorias*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -50px;
}

.categories button { /*Categorias*/
    width: 160px;
    height: 66px;
    background-color: #acb4c0;
    color: #ebebeb;
    border: 1px solid #ebebeb;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
}

.categories :not(:last-child){ /*Categorias*/
    margin-right: 2%;
}

.categories button:hover { /*Categorias*/
    transform: translateY(-3px);
}

.categories button.active {
    background-color: #008cc7;
}

/***********Inicio Digimons***********/

#digimon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

.digimon-card {
    background-color: rgba(214, 221, 230, 0.56);
    width: 250px;
    height: 320px;
    text-align: center;
    margin: 20px 20px;
    border-radius: 20px;
    border: 1px solid white;
}

.digimon-card img {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.digimon-card p {
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 15px;
}

.details-button {
    margin-top: 12px;
    width: 55%;
    height: 40px;
    background-color: #008cc7;
    color: white;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    border: none;
    cursor: pointer;
}

/***********Fim Digimons***********/

/***********Fim corpo do painel***********/